@import "inc/bootstrap";

@import "inc/icons";
@import "inc/systemStatusTable";
@import "inc/statisticsMonitoring";

.status-report-header {
    margin-bottom: 30px;
    width: 100%;
}

.status-report-header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn-info.support_portal_link {
      min-width: 160px;
      width: 160px;
    }
}
