$status-task-queue-background-color: #949494;
$status-task-queue-color: #fff;

.statistics-chart__interval-select-container {
    margin-bottom: 10px;
}

.system-status__charts-container {
    align-items: center;
    display    : flex;
}

.system-status__statistics-chart-container {
    margin-bottom: 20px;
}

.js-tasks-donut-1,
.js-tasks-donut-2 {
    width: 300px;
}

.system-status__task-queue-load-container {
    border: 1px solid $websiteBorder;
    display: flex;
    height : 200px;
    margin-left: 13px;
    width  : 250px;
}

.task-queue-load-container__icon {
    align-items: center;
    background: $status-task-queue-background-color;
    color: $status-task-queue-color;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 70px;
}

.task-queue-load-container__description {
    font-size: 28px;
    padding: 10px;
    text-align: center;
    width: 180px;
}

.task-queue-load-container__description-title {
    font-size: 20px;
    margin-bottom: 50px;
}

.system-status__chart-title {
  font-size: 20px;
  text-align: center;
}
